/* MAKE THE BODY A SET HEIGHT, MAYBE BASED ON VH */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&display=swap');

html {
    background-color: bisque;
    font-family: 'Original Surfer';
}

body {
    flex: 7;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    flex: 2;
    background-color: rgb(106, 64, 27);
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;

    /* border-bottom-width: 10vh; */
}

footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(106, 64, 27);
}

.Hyperlink {
    color: rgb(192, 146, 46);
}

.metronome_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_words {
    background-color: rgb(106, 64, 27);
    margin-left: 5%;
}